:root {
  --yellow: #f3c348;
  --unit: 10px;
  --grey: #354450;
  --background: #1b2a34;
  --purple: #c373bd;
  --blue: #55b6b5;
  --red: #ea4f5f;
}
body {
  background-color: var(--background);
  margin: 0;
  padding-top: 50px;
  padding-left: 50px;
}
.container {
  width: 600px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--unit);
}
.container:hover::before{
    opacity: .5;
    position: absolute;
    width: 50%;
    content: "";
    height: 100%;
    background: red;
}
.container:hover{
    border: 2px solid white;
}
.rows {
    display: flex;
    justify-content: center;
  height: var(--unit);
  gap: var(--unit);
}
.cells {
  height: 100%;
  width: calc(var(--size, 2) * var(--unit));
  background-color: var(--grey);
  border-radius: 100000000px;
}
.size-2{--size: 2;}
.size-4{--size: 4;}
.size-6{--size: 6;}
.size-8{--size: 8;}
.size-10{--size: 10;}
.size-12{--size: 12;}
.size-14{--size: 14;}
.size-16{--size: 16;}
.size-18{--size: 18;}
.size-20{--size: 20;}




.cells.blue{background-color: var(--blue);}
.cells.red{background-color: var(--red);}
.cells.purple{background-color: var(--purple);}
.cells.yellow{background-color: var(--yellow);}